[submodule "CGameEngine/vendor/spdlog"]
	path = CGameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
	ignore = dirty
[submodule "CGameEngine\\vendor\\GLFW"]
	path = CGameEngine\\vendor\\GLFW
	url = https://github.com/Caffrey/glfw.git
	ignore = dirty
[submodule "CGameEngine/vendor/imgui"]
	path = CGameEngine/vendor/imgui
	url = https://github.com/Caffrey/imgui.git
