[submodule "CGameEngine/vendor/spdlog"]
	path = CGameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CGameEngine\\vendor\\GLFW"]
	path = CGameEngine\\vendor\\GLFW
	url = https://github.com/Caffrey/glfw.git
